/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
body{
    font-family: 'Oswald', sans-serif;
    margin: 2rem;
}
h1{
    font-size: min(max(30px, 6vw), 70px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
	color: #473B48;
}
h2{
    font-size: min(max(24px, 3vw), 48px);
	color: #473B48;
}
p{
    font-size: min(max(16px, 2vw), 24px);
    line-height: normal;
	color: #1779FF;
}
a{

    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: min(max(16px, 2vw), 24px);
    line-height: normal;
	color: #1779FF;
}
i{
    font-size: min(max(24px, 2vw), 60px);
}

main div{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}
.correct{
    display: block;

}
.correct p{
    float: right;
}
#correct-text{
    color: #473B48;
}
#difficulty a{
    margin: 1rem auto;
    text-decoration: none;
    padding: 25px 20px 25px 20px;
    background-color: #F1F5FB;
    filter: drop-shadow(7px 7px 4px #00000037);
    border-radius: 0.6rem;
    border: 3px solid #1779FF;
    max-width: 700px;
    width: 100%;
}
#reset-button{
    display: block;
    margin: 20rem auto;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: #F1F5FB;
    filter: drop-shadow(7px 7px 4px #00000037);
    border-radius: 0.6rem;
    max-width: 300px;
    width: 100%;
}
#submit-button{
    display: block;
    margin: 20rem auto;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: #F1F5FB;
    filter: drop-shadow(7px 7px 4px #00000037);
    border-radius: 0.6rem;
    border: 3px solid #1779FF;
    max-width: 300px;
    width: 100%;
}
#grey-check{
    display: block;
    margin: 1rem auto;
    text-decoration: none;
    padding: 25px 20px 25px 20px;
    background-color: #F1F5FB;
    filter: drop-shadow(7px 7px 4px #00000037);
    border-radius: 0.6rem;
    max-width: 700px;
    width: 100%;
}
#grey-check i{
    float: left;
    color: #A2AABB;
}
#blue-check{
    display: block;
    margin: 1rem auto;
    text-decoration: none;
    padding: 25px 20px 25px 20px;
    background-color: #F1F5FB;
    filter: drop-shadow(7px 7px 4px #00000037);
    border-radius: 0.6rem;
    border: 3px solid #1779FF;
    max-width: 700px;
    width: 100%;
}
#blue-check i{
    float: left;
}
@media only screen and (min-width: 768px) {
h2{
    text-align: center;
}

}